@model IEnumerable<GameReviewSite.Entities.Concrete.Game>

<h2>Game Details</h2>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model)
        {
            <tr>
                <td>@game.Name</td>
                <td><a asp-action="Details" asp-route-id="@game.Id" class="btn btn-primary">Detaylar</a></td>
            </tr>
        }
    </tbody>
</table>
