@model GameReviewSite.Entities.Concrete.Game

<h2>Add New Game</h2>

<form asp-action="Add" method="post">
    <div class="form-group">
        <label>Game Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Game Genre</label>
        <input asp-for="Genre" class="form-control" />
    </div>
    <div class="form-group">
        <label>Release Year</label>
        <input asp-for="ReleaseYear" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
