@model GameReviewSite.UI.Models.GameViewModel

@{
    ViewData["Title"] = "Add New Game";
}

<h2>Add New Game</h2>
<br>
<form asp-action="Add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Game Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <br>
    <div class="form-group">
        <label>Game Genre</label>
        <select asp-for="GameGenreId" class="form-control" asp-items="ViewBag.Genres"></select>
    </div>
    <br>
    <div class="form-group">
        <label>Release Year</label>
        <input asp-for="ReleaseYear" class="form-control" />
    </div>
    <br>
    <div class="form-group">
        <label>Game Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
